@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

html {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: #85a2b6;
  background-color: whitesmoke;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
}

.loader,
.error {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.8);
}

.loader img,
.error__msg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error__msg {
  color: black;
  font-size: 28px;
  text-align: center;
  max-width: 600px;
}


.image-container {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  gap: 10px;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  grid-auto-flow: dense;
  align-content: start;
  align-items: start;
}

.image-container img {
  width: 100%;
}

.image-container .landscape {
  grid-column-end: span 2;
}

/* Media Query: Mobile (up to 464px)*/
@media only screen and (max-width: 29em) {
  h1,
  .error__msg {
    font-size: 20px;
  }

  .image-container {
    margin: 10px;
    grid-template-columns: 100%;
    column-gap: 0;
    row-gap: 10px;
  }
}
